<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383847011829-nf9kl5mnd18sj1j7i7majaf45kedb11s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383847011829-nf9kl5mnd18sj1j7i7majaf45kedb11s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>383847011829-5ahdgq4ne7k5udm77pg7pnbvhlkvtnvd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAuIbNK7E75XWkJkfdr2Fgo1aHiNNA9m4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>383847011829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.knaap</string>
	<key>PROJECT_ID</key>
	<string>knaap-app</string>
	<key>STORAGE_BUCKET</key>
	<string>knaap-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383847011829:ios:8505c9c6147103a141fcbc</string>
</dict>
</plist>